*{
    margin: 0;
    padding: 0;
}



/*Styling Navigation Bar*/
.nav{
    width: 100%;
    height: 100px;
    text-align: center;
    
}

.nav .menu li{
    list-style-type: none;
    display: inline-block;
    padding: 35px 30px;
}

.nav ul li a{
    color: grey;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Open Sans', sans-serif;
    
}

/*Styling Home*/
.home{
    background-color: lightskyblue;
}

.home-container{
    padding: 0;
}

.home-content{
    width: 100%;
    height: 90vh;
    margin: 0 auto;
    padding: 30px;
    z-index: 1;
    background-color: lightskyblue;
    display: flex;
    align-items: center;
    justify-self: center;
}


.home-content h1{
    font-size: 4rem;
    font-family: 'Open Sans', sans-serif;
}

.home-content h2{
    font-size: 3rem;
    font-family: 'Open Sans', sans-serif;
}

.home-content h3{
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
}

.home-content p{
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
}

.home-content button{
    font-size: 1rem;
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    margin-top: 2rem;
    cursor: pointer;  
    position: relative;
    transition: all 0.35s;
}

.home-content button a{
    color:#00B0FF;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    z-index: 2;

}

.picture-container img{
    height: 100%; 
    width: 100%;   
}

/*Styling Skills*/

.skills .title{
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    font-family: 'Open Sans', sans-serif;
    padding: 130px;

}
.skills h1{
    text-align: center;
    font-size: xx-large;
    font-family: 'Open Sans', sans-serif;
}

.content{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    text-align: center;
    background-color: lightskyblue;
    margin: 3%;
    padding: 2%
}

.skills .app{
    font-size: 35px;
    font-weight: lighter;
    font-family: 'Open Sans', sans-serif;
    margin: 20px;
    color: black;
}

/*styling education*/
.education .title{
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    font-family: 'Open Sans', sans-serif;
    padding: 130px;
}

.education .container{
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.education .container .left{
    background-color: lightskyblue;
    width: 30%;
    padding: 3%;
    margin: 2%;
}

.education .container .right{
    background-color: lightskyblue;
    width: 30%;
    padding: 3%;
    margin: 2%;
}

.left .picture img{
    width: 100%;
    height: 100%;
}

.right .picture img{
    width: 100%;
    height: 100%;
}

.info .school{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;

}

.info .year{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.info .grad{
    font-size: 20px;
    font-weight:400;
    font-family: 'Open Sans', sans-serif;
    color: black;
}

/*showcase*/

.subject{
    background-color: white;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.subject h1{
    font-size: 3rem;
    font-family: 'Open Sans', sans-serif;
}
.show-container{
    height: 90vh;
    width: 100%;
    background-color: #E3DEDD;
}

.row-1{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    position: relative;
    top: 70px;

}

.row-1 .card{
    padding: 10px;
    background-color: white;
}

.row-1 img{
    height: 250px;
    width: 250px;
}

/*Modal*/
.image-style {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.image-style:hover {opacity: 0.7;}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }


.modal-content {
    animation-name: zoom;
    animation-duration: 0.6s;
  }

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
} 

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* Contact Me page */
.contact{
    background-color: lightskyblue;
    height: 90vh;
    text-align: center;

}

.contact h1{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.contact-container .text{
    margin: 5%;
}


@media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
}

@media screen and (max-width: 1206px){
    .home-content h1{
        font-size: 3.5rem;
    }
    
    .home-content h2{
        font-size: 2.5rem;
    }

    .home-content h3{
        font-size: 1.5rem;
    }

    .home-content p{
        font-size: 1.5rem;
    }
}


@media screen and (max-width: 680px){
    /*resize header font*/
    .nav ul li a{
        color: grey;
        text-decoration: none;
        font-size: 15px;
        font-weight: bolder;
        font-family: 'Open Sans', sans-serif;
        
    }

    /*flex home to column and resize font size*/
    .home-content{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90vh;
        margin: 0 auto;
        padding: 0;
    }

    
    .home-content h1{
        font-size: 2.5rem;
    }
    
    .home-content .about{
        position: relative;
        right: 40px;
    }

    .home-content h2{
        font-size: 2rem;
        margin-top: 2rem;
    }

    .home-content h3{
        font-size: 1rem;
    }

    .home-content p{
        font-size: 1rem;
    }

    .home-content button{
        margin-bottom: 2rem;
    }

    /*resize titles*/
    .education .title{
        font-size: 40px;
        padding: 100px;
    }

    .skills .title{
        font-size: 40px;
        padding:100px
    }

    /*resize education*/
    .education .container{
        width: 100%;
        display: flex;
        flex-direction: column;
    }       
    
    .education .container .left{
        background-color: lightskyblue;
        width: 90%;
        padding: 3%;
        margin: 2%;
    }

    .education .container .right{
        background-color: lightskyblue;
        width: 90%;
        padding: 3%;
        margin: 2%;
    }

    .left .picture img{
        width: 100%;
        height: 100%;
    }
    
    .right .picture img{
        width: 100%;
        height: 100%;
    }    
}
    
@media screen and (max-width: 481px){
    .home-content .about{
        position: relative;
        right: 5px;
    }


}

